$blue: #6284FF;
$dark: #6A6A6A;
$light: #9B9B9B;
$white: #fff;

html{
    overflow-x: hidden;
}

body{
    font-family: Roboto, sans-serif;
    color: $light;
    background-color: $white;
    overflow-x: hidden;
}

main{
    margin-top: 72px;
}

.container{
    width: 1298px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

section{
    padding: 60px 0;
}

.scale{
    transition: all .5s ease-in-out;
    &:hover{
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
        transform: scale(1.1);
    }
}

.text{
    font-size: 16px;
    line-height: 24px;
}

.section__title{
    font-size: 48px;
    line-height: 54px;
    color: $dark;
    font-family: 'Yeseva One';
    margin-bottom: 40px;
}

.btn-solid{
    padding: 16px 34px;
    background-color: $blue;
    color: $white;
    transition: all .5s ease-in-out;
    border: 2px solid $blue;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 9px 13px rgba(96, 109, 155, 0.3);
    }
}

.btn-stroke{
    padding: 16px 34px;
    border: 2px solid $blue;
    color: $white;
    transition: all .5s ease-in-out;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 9px 13px rgba(96, 109, 155, 0.3);
    }
}

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    &__menu{
        &__list{
            display: flex;
        }
        &__link{
            &:not(:last-child){
                margin-right: 40px;
            }
            & a{
                color: $light;
                transition: .3s ease-in-out;
                &:hover{
                    color: $dark;
                }
            }
        }
    }
    &__contacts{
        &__list{
            display: flex;
        }
    }
    &__burger{
        display: none;
    }
}

.offer{
    background-image: url(/img/header-img.jpg);
    padding: 140px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
        justify-content: center;
        align-items: center;
    &__content{
        text-align: center;
        height: 100%;
        &__btns{
            display: flex;
            justify-content: center;
            & a{
                &:first-child{
                    margin-right: 16px;
                }
            }
        }
    }
    &__title{
        font-family: Yeseva One;
        color: $white;
        width: 690px;
        margin: 0 auto;
        font-size: 64px;
        line-height: 66px;
        margin-bottom: 20px;
    }
    &__subtitle{
        width: 268px;
        color: $white;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.steps{
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 26%;
        padding: 30px 40px 50px 40px;
        border: 1px solid $light;
        background-color: $white;
        &__number{
            font-size: 36px;
            line-height: 38px;
            color: $blue;
            font-family: 'Yeseva One';
            cursor: default;
        }
        &__title{
            font-size: 24px;
            line-height: 24px;
            font-family: 'Yeseva One';
            color: $dark;
            margin-bottom: 10px;
            margin-top: 20px;
            cursor: default;
        }
        &__subtitle{
            width: 336px;
            cursor: default;
        }
    }
}

.info{
    margin-top: -60px;
    &__content{
        background-color: $blue;
        padding: 60px 100px;
        & p{
            color: $white;
        }
    }
}

.about{
    background-color: #FAFAFA;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__subtitle{
        font-size: 24px;
        line-height: 28px;
        font-family: 'Yeseva One';
        color: $dark;
        margin-bottom: 20px;
    }
    &__description{
        width: 526px;
        line-height: 28px;
    }
}

.blue-text{
    color: $blue;
}

.advantages{
    background-color: #FAFAFA;
    padding-top: 10px;
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item{
        width: 26%;
        padding: 30px 40px 40px 40px;
        border: 1px solid $light;
        margin-bottom: 24px;
        transition: all .3s ease-in-out;
        &__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        &__number{
            font-family: 'Yeseva One';
            font-size: 36px;
            color: $blue;
        }
        &__description{
            cursor: default;
        }
    }
}

.advantages__item:hover{
    background-color: $blue;
}

.advantages__item:hover .advantages__item__number,
.advantages__item:hover .advantages__item__description{
    color: $white;
}

.advantages__item:hover .advantages__item__icon *{
    fill: $white;
    opacity: 0.3;
}

.advantages__item:hover svg{
    transform: scale(5) translate(-20%, 30%);
}

.form{
    padding-top: 0;
    &__content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $blue;
        padding: 40px 110px;
        &__form{
            width: 360px;
            & form{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 10px;
                & input{
                    padding: 18px 20px;
                    transition: all .5s ease-in-out;
                    border: 1px solid $light;
                    outline: none;
                    font-size: 18px;
                    text-transform: uppercase;
                    &::placeholder{
                        font-size: 16px;
                        text-transform: none;
                    }
                    &:not(:last-child){
                        margin-bottom: 10px;
                        &:focus{
                            transform: scale(1.02);
                            filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.41));
                        }
                    }
                    &:last-child{
                        text-transform: none;
                        background-color: #FF6B62;
                        color: $white;
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &__description{
        color: $white;
        width: 328px;
        line-height: 22px;
    }
}

.form .section__title{
    color: $white;
    width: 440px;
    margin-bottom: 20px;
}

.right{
    font-size: 14px;
    color: $white;
    opacity: 0.5;
    &__link{
        color: $white;
        text-decoration: underline;
    }
}

.portfolio{
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .portfolio__item{
        width: 49%;
        margin-bottom: 20px;
        position: relative;
        & img{
            width: 100%;
            height: 100%;
        }
        &__fade{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.9);
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease-in-out;
        }
        &__text{
            padding: 30px 40px;
            display: flex;
            flex-direction: column;
        }
        &__title{
            font-family: 'Yeseva One';
            font-size: 36px;
            color: $white;
            margin-bottom: 16px;
        }
        &__description{
            color: $white;
            font-size: 18px;
            opacity: 0.8;
            margin-bottom: 30%;
        }
        &__link{
            color: $white;
            font-size: 21px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:after{
                content: url(/img/icons/arrow.svg);
                margin-left: 8px;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
}


.portfolio__item:hover .portfolio__item__fade{
    opacity: 1;
    visibility: visible;
}

.garanties{
    background-color: #FAFAFA;
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item{
        width: 43%;
        padding: 30px 40px 40px 40px;
        border: 1px solid $light;
        margin-bottom: 20px;
        transition: all .3s ease-in-out;
        position: relative;
    }
    &__number{
        font-size: 36px;
        font-family: 'Yeseva One';
        color: $blue;
        margin-bottom: 20px;
    }
}

.garanties__item:hover{
    background-color: $blue;
}

.garanties__item:hover .garanties__number{
    color: $white;
}

.garanties__item:hover .garanties__description{
    color: $white;
}

.garanties .section__title{
    width: 723px;
}

.prices{
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        background-color: $white;
        width: 32%;
        &__header{
            padding: 18px 0;
            text-align: center;
            & h3{
                font-size: 36px;
                font-family: 'Yeseva One';
                color: $white;
            }
        }
        &__body{
            border: 1px solid $light;
            padding: 30px 20px 20px 40px;
            & h4{
                text-align: center;
                margin-bottom: 30px;
                font-family: 'Yeseva One';
                font-size: 32px;
                color: $dark;
            }
        }
        &__list{
            margin-bottom: 40px;
            & li{
                display: flex;
                align-items: center;
                font-size: 18px;
                &:not(:last-child){
                    margin-bottom: 16px;
                }
                &::before{
                    content: url(/img/icons/check.svg);
                    margin-right: 8px;
                }
            }
        }
        &__btn{
            text-align: center;
        }
        &__link{
            padding: 16px 70px;
            font-size: 21px;
        }
    }
}

.express-rate{
    background-color: $blue;
}

.standart-rate{
    background-color: #03bb00;
}

.business-rate{
    background-color: #FF6B62;
}

.remark{
    color: $light;
    font-size: 12px;
    width: 600px;
    margin-top: 50px;
    transform: skew(-8deg);
    line-height: 14px;
}

.include{
    background-color: #FAFAFA;
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item{
        width: 26%;
        padding: 30px 40px 50px 40px;
        border: 1px solid $light;
        background-color: $white;
        margin-bottom: 20px;
        &__number{
            font-size: 36px;
            line-height: 38px;
            color: $blue;
            font-family: 'Yeseva One';
            cursor: default;
        }
        &__title{
            font-size: 24px;
            line-height: 24px;
            font-family: 'Yeseva One';
            color: $dark;
            margin-bottom: 10px;
            margin-top: 20px;
            cursor: default;
        }
        &__subtitle{
            width: 336px;
            cursor: default;
        }
    }
}

.attention{
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        font-size: 20px;
        width: 27%;
        display: flex;
        align-items: start;
        &::before{
            content: url(/img/icons/check.svg);
            margin-right: 8px;
        }
    }
}

.reviews{
    &__list{
        & img{
            width: 100%;
            display: block;
            &:not(:last-child){
                margin-bottom: 16px;
            }
        }
    }
}

.instagram{
    background-color: $blue;
    &__content{
        display: flex;
        justify-content: space-between;
        &__side{
            max-width: 40%;
            & .section__title{
                color: $white;
            }
            & .instagram__link{
                color: $white;
                font-size: 24px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid $white;
                display: inline;
                padding-bottom: 8px;
                &::after{
                    content: url(/img/icons/arrow.svg);
                    margin-left: 8px;
                }
            }
            & p{
                color: $white;
                width: 65%;
                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.contacts{
    background-color: $white;
    & h2{
        width: 60%;
    }
    &-list{
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    }
    &-item{
        &-link{
            color: $dark;
            font-size: 26px;
            display: flex;
            align-items: center;
            padding-bottom: 6px;
            &::after{
                content: url('/img/icons/arrow-dark.svg');
                margin-left: 8px;
            }
        }
    }
}

.footer{
    background-color: #090D1C;
    padding: 60px 0 30px 0;
    &-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-menu{
            & nav{
                & a{
                    color: $white;
                    &:not(:last-child){
                        margin-right: 40px;
                    }
                }
            }
        }
    }
    &-privacy{
        margin-top: 60px;
        &-link{
            color: $white;
            opacity: 0.6;
            font-size: 12px;
            text-decoration: underline;
            display: block;
            &:first-child{
                margin-bottom: 10px;
            }
        }
    }
}


@media screen and (max-width: 1320px) {
    .container{
        width: 1200px;
    }

    .attention__item{
        width: 30%;
    }
    .instagram__content__side p{
        width: 70%;
    }
}

@media screen and (max-width: 1200px){
    .container{
        width: 992px;
    }

    .steps__item {
        width: 23%;
    }

    .steps__item__subtitle{
        width: 100%;
    }

    .about__text{
        max-width: 45%;
    }

    .about__subtitle{
        width: 320px;
    }
    
    .about__description{
        width: 100%;
    }

    .about__img{
        max-width: 45%;
    }

    .advantages__item{
        width: 24%;
    }

    .form__content{
        padding: 40px 50px;
    }

    .garanties__item{
        width: 40%;
    }

    .include__item {
        width: 23%;
        padding: 30px 50px 50px 40px;
    }

    .include__item__title{
        margin-bottom: 20px;
    }

    .include__item__subtitle{
        width: 100%;
    }

    .instagram__content__side{
        max-width: 47%;
    }

    .contacts h2 {
        width: 75%;
    }

    .contacts-item-link{
        font-size: 21px;
    }

    @media screen and (max-width: 992px){
        .container{
            width: 768px;
        }

        .section__title{
            font-size: 44px;
        }

        .header__menu__list{
            display: none;
        }

        .steps__list{
            flex-wrap: wrap;
        }

        .steps__item{
            width: 100%;
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }

        .info__content{
            padding: 60px 80px;
        }

        .about__wrapper{
            flex-direction: column;
            max-width: 100%;
        }

        .about__text{
            max-width: 100%;
            margin-bottom: 40px;
        }

        .about__subtitle{
            width: auto;
        }

        .about__description{
            min-width: 100%;
        }

        .about__img{
            max-width: 100%;
            & img{
                max-width: 100%;
            }
        }

        .advantages__item{
            width: 40%;
        }

        .form__content{
            align-items: start;
        }

        .portfolio .portfolio__item__description{
            margin-bottom: 24%;
        }

        .portfolio .portfolio__item__title{
            font-size: 28px;
            margin-bottom: 12px;
        }

        .portfolio .portfolio__item__description{
            font-size: 16px;
        }

        .prices__item__body h4{
            font-size: 28px;
        }

        .include__item{
            width: 38%;
        }

        .instagram__content__side p{
            width: 100%;
        }

        .contacts-item-link{
            font-size: 19px;
        }

        .advantages__item{
            width: 36%;
        }

        .garanties__item{
            width: 37%;
        }

        .prices__item{
            width: 32%;
        }

        .attention__item{
            font-size: 18px;
        }

        .instagram__content{
            flex-direction: column;
        }

        .instagram__content__side .section__title{
            width: 100vh;
        }

        .instagram__content__side:first-child{
            margin-bottom: 50px;
        }

        .contacts-list{
            flex-wrap: wrap;
            text-align: center;
        }

        .contacts-item{
            width: 50%;
            margin-bottom: 30px;
            text-align: center;
        }
    }
    
}

@media screen and (max-width: 768px){
    .container{
        width: 576px;
    }

    section{
        padding: 50px 0;
    }

    .section__title{
        font-size: 38px;
    }

    .offer__title{
        font-size: 50px;
        line-height: 55px;
        width: 100%
    }

    .advantages__item{
        width: 100%;
    }

    .form__content{
        flex-direction: column;
        &__text{
            margin-bottom: 30px;
        }
        &__form{
            width: 100%;
        }
    }
    
    .portfolio .portfolio__item{
        width: 100%;
    }

    .portfolio .portfolio__item__description{
        margin-bottom: 30%;
    }

    .garanties .section__title{
        width: 100%;
    }

    .garanties__item{
        width: 100%;
    }

    .prices__list{
        flex-direction: column;
    }

    .prices__item{
        width: 100%;
        margin-bottom: 60px;
    }

    .include__item{
        width: 100%;
    }

    .attention__item{
        font-size: 14px;
    }

    .instagram__content__side{
        max-width: 77%;
    }

    .instagram__content__side .instagram__link{
        width: auto;
        padding-bottom: 4px;
        align-items: center;
    }

    .footer-nav{
        flex-direction: column;
        align-items: start;
        & div{
            margin-bottom: 50px;
        }
    }

    .footer-privacy{
        margin-top: 30px;
    }

    .contacts h2{
        width: 100%;
    }
}

@media screen and (max-width: 576px){
    .container{
        width: auto;
        padding: 0 30px;
    }

    .section__title{
        font-size: 34px;
        margin-bottom: 24px;
        line-height: 38px;
    }
    
    .offer{
        padding: 100px 0;
    }

    .info__content {
        padding: 30px 50px;
    }

    .about__subtitle{
        width: 289px;
    }

    .form .section__title{
        width: 100%;
    }

    .garanties .section__title{
        font-size: 32px;
    }

    .attention__item{
        width: 100%;
        align-items: center;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .attention__list{
        flex-wrap: wrap;
    }

    .instagram__content__side .section__title{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .container{
        padding: 0 20px;
    }

    section{
        padding: 40px 0;
    }

    .section__title{
        font-size: 30px;
    }

    .offer__title{
        font-size: 32px;
        line-height: 36px;
    }

    .text{
        font-size: 16px;
        line-height: 22px;
    }

    .info{
        margin-top: -20px;
    }

    .remark{
        width: 100%;
        margin-top: 10px;
    }

    .offer__content__btns a{
        width: auto;
    }

    .offer__content__btns{
        flex-direction: column;
    }

    .offer__content__btns a:first-child{
        margin-right: 0;
        margin-bottom: 16px;
    }

    .info__content {
        padding: 30px 24px;
    }

    .form__content {
        padding: 30px 20px;
    }

    .form .section__title{
        font-size: 28px;
        line-height: 32px;
    }

    .form__description{
        width: 100%;
    }

    .right{
        font-size: 10px;
        line-height: 12px;
    }

    .garanties .section__title {
        font-size: 30px;
    }

    .contacts-list{
        flex-wrap: wrap;
    }

    .contacts-item{
        width: 100%;
    }

    .nav__link{
        display: block;
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }

    .instagram__content__side .instagram__link{
        display: flex;
        width: auto;
        border-bottom: 0 solid #000;
        font-size: 18px;
    }

    .instagram__content__side{
        width: 100%;
    }
}


.thanks{
    background-repeat: no-repeat;
    background-position: 0 -300px;
    height: 55vh;
    margin-top: 60px;
    text-align: center;
    & .section__title{
        color: $blue;
    }
    & .text{
        width: 300px;
        margin: 0 auto;
    }
}

.btn__back{
    margin-top: 50px;
    display: inline-block;
}

#toTop {
    position:fixed;
    bottom:10px; 
    right:10px;
    cursor:pointer;
    opacity: 0.6;
    display:none;
}